/*idk what this is, vite added it*/
@import"https://use.typekit.net/jmk3xov.css";

/*try to get rid of bottom scroll on mobile*/
::-webkit-scrollbar {
    -webkit-appearance: none;
}

/*get rid of scroll, set background and default margin/padding*/
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(58, 58, 58), rgb(3, 3, 3));
    overflow-x: hidden;
}

/*responsive font-size on nav*/
#topNav a{
    font-size: min(3vh, 3vw);
}

/*set scroll behavior and default text color*/
* {
    color: #fff;
    scroll-behavior: smooth;
    text-decoration: none;
    
}

/*set styles for labels on sliders*/
label {
    color: #000;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #afafaf;
    padding-top: 1%;
    padding-bottom: 1%
}

/*set the bottom nav links*/
.linkLocation {
    width: 100vw;
    display: flex
}

/*tab images*/
#blenderLogo {
    background-image: url(blenderLogo-32af973a.png)
}
#unityLogo {
    background-image: url(unityLogo-6bba9f0e.png)
}

/*set styling for typed header*/
.sticky {
    color: #fff;
    font-size: 40px;
    text-shadow: -.5vh .5vh 0 #000, 0px 0px 0 #000, 0px -0px 0 #000, -0px -0px 0 #000000;
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: min(10vh, 10vw);
    text-align: center;
    padding: 5px;
    background-color: #0000;
    box-shadow: 0 00vh 1vh #0000
}

/*define styles for project view*/
.blenderProjects {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    flex-direction: column
}
.blenderProjects2 {
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    flex-direction: column
}

/*set the background for the project containers*/
.blenderProjects div{
    height: 100%;
    background-color: rgba(255, 255, 255, 0);

}

/*logo for c#/python tab*/
#cPython{
    background-image: url(cLogo-dfbd55b2.png);
}

/*set button styles for view buttoms*/
.viewButtons {
    display: flex;
    background-color: #0000;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.7s ease;
}
.viewButtons button {
    width: 20vw;
    height: 5vh;
    color: #fff;
    background-color: #181818;
    border: solid rgb(0, 0, 0) min(.3vh, .3vw)
}
.viewButtons button:hover {
    cursor: pointer;
    background-color: #00000000;
}

/*set styleing for the nav bar*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 2vh
}

/*new styles for the footer*/
#bottomNav {
    float: right;
    width: 80vw;
    margin: 0;
    justify-content: end;
    margin-top: 5vw
}

/*styling for all elements inside the footer*/
#bottomNav a,
#bottomNav a button {
    font-size: min(4vh, 4vw);
    margin-right: 5vw;
    background-color: transparent;
    border: none;
    margin: 0;
    margin-right: 2vw
}

/*the the area with images, needs to be responsive*/
#programmingArea {
    display: flex;
    justify-content: space-evenly;
}
@media (orientation: portrait) {
    #programmingArea {
        flex-direction: column;
    }
}
@media (orientation: landscape) {
    #programmingArea {
        flex-direction: row;
    }
}

/*for picture containers*/
.programmingSecion div {
    background-color: #0000;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-color: transparent;
    width: 10vh
}

/*set container styles*/
#skillsArea {
    display: flex;
    flex-direction: column;
    align-items: center
}

/*align paragraphs to center*/
#skillsArea p {
    text-align: center
}

/*apply styles to another continer*/
.programmingSecion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center
}

/*set images for the programming section logos*/
#pythonLogo {
    background-image: url(pythonLogo-314ea70d.png)
}
#htmlCSSLogo {
    background-image: url(htmlCssLogo-6a04b140.png)
}
#javascriptLogo {
    background-image: url(javaScriptLogo-a12b5e19.png)
}
#cLogo {
    background-image: url(cLogo-dfbd55b2.png)
}

/*set styles for the entire about section*/
#AboutMain {
    display: flex;
    flex-direction: row;
    margin-top: 50vh
}

/*styles for the project view*/
#projects {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

/*set text and elements inside the about*/
#aboutContent {
    width: 65vw
}
#aboutContent p {
    font-size: min(2.5vh, 2.5vw)
}
#aboutContent h3 {
    text-align: center;
    font-size: min(5vh, 5vw)
}

/*set default font-size for about elements*/
#aboutContent * {
    font-size: min(3vh, 3vw)
}

/*setyle for the project switch buttons*/
.projectCol {
    background-color: #1f1f1f;
    width: 70%;
    cursor: pointer;
    height: 10%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: solid rgb(66, 66, 66) min(.3vh, .3vw);
    border-radius: min(1.3vw, 1.3vw);
    display: flex;
    justify-content: space-between;
    align-items: center
}

/*set the default color*/
.projectCol * {
    color: #fff
}

/*for cursor trail*/
.trail {
    position: absolute;
    height: 0.7vw;
    z-index: 2;
    width: 0.7vw;
    border-radius: min(5vh, 5vw);
    background: rgb(75, 75, 75)
}

/*set text inside buttons*/
.projectCol p {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: min(2vh, 2vw);
    margin: 0
}

/*the name of the project inside the buttons*/
#nameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

/*default transform for the animated sections*/
.animate__animated {
    transform: translate3d(0, 3000px, 0) scaleY(5)
}

/*set all div containers inside he project view*/
.projectCol div {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-color: transparent;
    border: none;
    height: 100%;
    width: 20%
}

/*style for vertical ABOUT ME*/
#bigAbout {
    height: 100%;
    margin-top: 8vh
}

/*set the text style for ABOUT ME*/
#bigAbout p {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    text-shadow: 0px 0px 10px #c8ff00;
    margin: 0;
    font-size: min(8vw, 8vh);
    margin-left: 10vw;
    margin-right: 10vw
}

/*main container for the projects*/
#projectMain {
    display: flex;
    flex-direction: row
}

/*set hight of the buttons*/
#projects button {
    height: 5vw
}

/*for the current project*/
#projectsShow {
    width: 60vw;
    display: flex
}

/*set the container for the container of the projects*/
.projectView {
    height: 60vh;
    width: 60vw;
    background-color: #fff0;
    overflow-y: hidden
}

/*sefault styles for everything inside the project view*/
.projectView * {
    width: 100%;
    overflow-y: hidden
}

/*set styling for about me containers*/
#edu, #skills, #goals, #programming{
    background-color: rgb(58, 58, 58);
    padding-bottom: 5vh;
    margin-top: 15vh;
    padding-left: 2vw;
    border: solid black min(0.4vh, 0.4vw);
    border-radius: min(1vh, 1vw);
}

/*for the different project tabs*/
#Tab0,
#Tab1,
#Tab2,
#Tab3 {
    transform: translate(100vw);
    opacity: 0;
    width: 0;
    transition: .7s ease
}

/*when the tabl is active*/
#Tab0.animateTabs,
#Tab1.animateTabs,
#Tab2.animateTabs,
#Tab3.animateTabs {
    transform: translate(0);
    opacity: 1;
    width: 60vw
}

/*for the footer links*/
#LinksContainer {
    display: flex;
    margin-right: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    opacity: 1;
    transition: 0.2s;
}

/*set the text styling for the footer links*/
#LinksContainer a {
    height: 8vh;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 8vw;
    margin: 0;
    margin-top: 1vh;
    margin-right: 2vw
}

/*for the link images*/
#LinksContainer a img {
    overflow-y: hidden;
    margin: 0;
    height: min(7vh, 7vw);
    overflow-x: hidden
}

/**/
#LinksContainer.animatedContainer {

    opacity: 0;
}

/*idk, vite added this, does nothing*/
:root {
    --dark-bg: rgba(15, 15, 15, .95);
    --spacing: 350px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal
}

/*does nothing*/
#main2 {
    width: 100vw;
    z-index: -1;
    position: fixed;
    height: 50%
}
main {
    width: 100vw;
    color: #fff;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding: 120px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr)
}

/*set default for all headers*/
h1,
h2,
h3,
blockquote {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal
}

/*for project pictures*/
.projectPictures{
    background-repeat: no-repeat;
    background-size: 70%;
    background-size:cover;
    background-position: center;
    background-color: transparent;
    margin-bottom: 5vh;
}

/*for the individual pictures*/
#thirdImg0{
    background-image: url(Capture.PNG);
}
#thirdImg1{
    background-image: url();
}
#thirdImg2{
    background-image: url();
}
#thirdImg3{
    background-image: url();
}

/*for the unity pictures*/
#unity0{
    background-image: url(korokForest.png);
}
#unity1 video{
    width: 110%;
    overflow-x: hidden;
    overflow-y: hidden;
}
#unity2 video{
    width: 110%;
    overflow-x: hidden;
    overflow-y: hidden;
}
