body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(58, 58, 58), rgb(3, 3, 3));
    overflow-x: hidden;
}

* {
    color: white;
    scroll-behavior: smooth;
    text-decoration: none;
}

svg {
    position: fixed;
    width: 8vw;
    height: 8vw;
}

label {
    color: black;
    text-align: center;
    background-color: rgb(175, 175, 175);
    padding-top: 1%;
    padding-bottom: 1%;
}

.linkLocation {
    width: 100vw;
    display: flex;
}

#blenderLogo {
    background-image: url(blenderLogo.png);
}

#unityLogo {
    background-image: url(unityLogo.png);
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: min(10vh, 10vw);
    text-align: center;
    padding: 5px;
    background-color: rgb(117, 117, 117);
    box-shadow: 0px 00vh 1vh rgb(117, 117, 117);
}

.blenderProjects {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
}

#pfpContainer {
    position: absolute;
    top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5vw;
    overflow-y: hidden;
}

#pfpContainer img {
    height: 10vh;
    overflow-x: hidden;
}

.viewButtons {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: row;
    justify-content: space-between;
}

.viewButtons button {
    width: 20vw;
    height: 5vh;
    color: white;
    background-color: rgb(24, 24, 24);
    border: solid rgb(51, 51, 51) min(0.3vh, 0.3vw);

}

.viewButtons button:hover {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 2vh;
    padding-bottom: 2vh;
}

#bottomNav {
    float: right;
    width: 80vw;
    margin: 0;
    justify-content: end;
    margin-top: 5vw;
}

#bottomNav a,
#bottomNav a button {
    font-size: min(4vh, 4vw);
    margin-right: 5vw;
    background-color: transparent;
    border: none;
    margin: 0;
    margin-right: 2vw;

}

#AboutMain {
    display: flex;
}

#projects {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#aboutContent {
    width: 65vw;
}

#aboutContent * {
    font-size: min(3vh, 3vw);
}

.projectCol {
    background-color: rgb(31, 31, 31);
    width: 70%;
    cursor: pointer;
    height: 10%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: solid rgb(66, 66, 66) min(0.3vh, 0.3vw);
    border-radius: min(1.3vw, 1.3vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectCol * {
    color: white;

}

.projectCol p {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: min(2vh, 2vw);
    margin: 0;
}

.projectCol div {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-color: transparent;
    border: none;
    height: 100%;
    width: 20%;
}

#bigAbout p {
    text-align: center;
    text-shadow: 0px 0px 10px #c8ff00;
    margin: 0;
    font-size: min(8vw, 8vh);
    margin-left: 10vw;
    margin-right: 10vw;
}

#projectMain {
    display: flex;
    flex-direction: row;
}

#projects button {
    height: 5vw;
}

#projectsShow {
    width: 60vw;
    display: flex;
}

.projectView {
    height: 60vh;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0);
    overflow-y: hidden;
}

.projectView * {
    overflow-y: hidden;
}

#Tab0 {
    transform:
        translateX(100vw);
    opacity: 0;
    width: 0;
    transition: 0.7s ease;
}

#Tab1 {
    transform:
        translateX(100vw);
    opacity: 0;
    width: 0;
    transition: 0.7s ease;
}

#Tab2 {
    transform:
        translateX(100vw);
    opacity: 0;
    width: 0;
    transition: 0.7s ease;
}

#Tab3 {
    transform:
        translateX(100vw);
    opacity: 0;
    width: 0;
    transition: 0.7s ease;
}

#Tab0.animateTabs {
    transform: translateX(0vw);
    opacity: 1;
    width: 60vw;
}

#Tab1.animateTabs {
    transform: translateX(0vw);
    opacity: 1;
    width: 60vw;
}

#Tab2.animateTabs {
    transform: translateX(0vw);
    opacity: 1;
    width: 60vw;
}

#Tab3.animateTabs {
    transform: translateX(0vw);
    opacity: 1;
    width: 60vw;
}

#LinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;

    transform:
        translateX(0vw);
    transition: 1s;
}

#LinksContainer a {
    height: 8vh;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 8vw;
    margin: 0;
    margin-top: 2vh;
    margin-right: 2vw;
}

#LinksContainer a img {
    overflow-y: hidden;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

#LinksContainer.animatedContainer {
    transform:
        translateX(110vw);
}